In [ ]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

#Reads in your input for user name and password
myuser = input("User Name: ")
mypassw = input("Password: ")

In [ ]:
#This tries to connect to the database
try:
    cnx = mysql.connector.connect(user = myuser, password = mypassw,
                              host = '127.0.0.1',
                              database = 'datacleandb')
    print("connected")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

In [ ]:
#|TEMP| Doing an SQL query to the database to make sure it is working
sqlcommand = 'SELECT COUNT(*) FROM mydata'
df = pd.read_sql_query(sqlcommand, con = cnx)
print(df)

In [ ]:
#Create a table
cursor = cnx.cursor()
sqlcommand = """CREATE TABLE IF NOT EXISTS mydata_lookup(
                Valid_Sub_Vendor VARCHAR(255) PRIMARY KEY,
                is_Supplier_Name BOOL)"""
cursor.execute(sqlcommand, multi = False)
cnx.commit()

In [ ]:
#Showing all the tables in the database
sqlcommand = 'SHOW TABLES'
df = pd.read_sql(sqlcommand, con = cnx)
print( df )
print( "\n" ) #\n just prints a new line

#Changes the column name to Tables
df.columns = ['Tables']
print( df )
print( "\n" )

#Prints out just column 0 (which in this case is the only column)
print( df.iloc[:,0] )
print( "\n" )

#Prints out just the first row (row 0)
print( df.iloc[0,:] )
print( "\n" )

#Does not print out any of the row numbers
print( df.to_string(index = False) )

In [ ]:
#Closes the connection to the database
cnx.close()